<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Furniture Future| explorar</title>
    <link rel="stylesheet" href="{% static 'app/css/estiloss.css' %}">
   
</head>
<body>
<header>
    <div class="box" id="logo">
        <a href=" {% url 'index' %}"> <img id="imglogo" src="{% static 'app/img/logo.PNG' %}"
                style="padding-left:50px; width: 180px; height: 15;"> </a>
    </div>
    
</header>
<h2>
    Se ha cancelado el proceso de autenticación
</h2>