<!DOCTYPE html>
<html lang="en">
<head>
    
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css/estilo.css' %}">
  
    <title>Iniciar Sesión</title>
</head>
<body>
    <div id="head">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="box" id="logo">
                    <a href=" {% url 'index' %}"> <img id="imglogo" src="{% static 'app/img/logo.PNG' %}"
                        style="padding-left:50px; width: 180px; height: 15;"> </a>
                </div>
            </div>
                  
        </div>

        {% load crispy_forms_tags %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class= "card-body">
                        <h2>Iniciar sesión con tus datos</h2>
                        <hr>
                        <form action=""method="post">
    
                            {% csrf_token %}
                            {{ form |crispy}} 
                             <a href="{% url 'index' %}">Ir al inicio</a> |
                             <a href="{% url 'registro' %}"> Registrarse</a>
                             <input type="submit" value="Iniciar Sesión" class="button float-right" ></a>
                        </form>
                        <br>
                        <a href="{% url 'social:begin' 'facebook' %}">Continuar con facebook</a>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
    
</body>
</html>