<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css/estilo.css' %}">
   
    <title>listar producto</title>
</head>
<body>
    
    <div id="head">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="box" id="logo">
                    <a href=" {% url 'index' %}"> <img id="imglogo" src="{% static 'app/img/logo.PNG' %}"
                        style="padding-left:50px; width: 180px; height: 15;"> </a>
                </div>
            </div>
            <li type="button"style="margin-left:20px">
                <a href="{% url 'login' %}">iniciar sesión</a>
            </li>
            <br>
            <li type="button" style="margin-left:20px">
                <a href="{% url 'registro' %}">registrate</a>
            </li>
            <br>
            <li type="button"style="margin-left:20px">
                <a href=" {% url 'agregar_producto' %}"> agregar producto</a>                       
            </li>      
        </div>
     
       
    </div>
   
    {% load humanize %}
    <div class="card">
        <div class="card-body">
            <h2>Listado de productos</h2>
            <table class="table table-striped table-hover table-responsive-sm">
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>¿Es nuevo?</th>
                    <th>Opciones</th>
                </tr>
                {% for p in productos %}
                <tr>
                    <td>{{ p.nombre | title }}</td>
                    <td>{{ p.precioD | title }}</td>
                    <td>
                        {% if p.nuevo %}
                        SI
                        {% else %}
                        NO
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'modificar_producto' p.id %}" class="btn btn-info btn-sm">modificar</a>
                        <a href="{% url 'eliminar_producto' p.id %}" class="btn btn-danger btn-sm">eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </table>  
        </div>
    </div>
      

</body>
</html>