<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css/estilo.css' %}">
    
    <title>modificar producto</title>
</head>
<body>
  
    <div id="head">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="box" id="logo">
                    <a href=" {% url 'index' %}"> <img id="imglogo" src="{% static 'app/img/logo.PNG' %}"
                        style="padding-left:50px; width: 180px; height: 15;"> </a>
                </div>
            </div>
            <ul>
                <li type="button">
                    <a href=" {% url 'agregar_producto' %}"> agregar producto</a>
                    
                </li>
                <li type="button">
                    <a href=" {% url 'listar_producto' %}">listar producto</a>
                </li>
               
                
            </ul>
                  
        </div>
       

        {% load crispy_forms_tags %}
        
        <div class="row">
            <div class="col-12 col-md offset-md-3">
                <div class="card">
                    <br>
                    <br>

                    <div class="card-body">
                        <h2>Editar Producto</h2>
                        <hr>
                        <form action="" method = "post" enctype="multipart/form-data">
                            
                            {% csrf_token %}
                            {{ form | crispy}}

                            <div class="d-flex justify-content-center">

                                <input type="reset" value="Cancelar" class="btn btn-secondary">
                                <input type="submit" value="Editar" class="btn btn-primary">
                            </div>
                    
                        </form>
                        {{ mensaje }}
                    </div>
                </div>

            </div>
        </div>
        
    </div>
</body>
</html>