<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Furniture Future| explorar</title>
    <link rel="stylesheet" href="{% static 'app/css/estiloss.css' %}">
    
</head>
<body>
<header>
    <div class="box" id="logo">
        <a href=" {% url 'index' %}"> <img id="imglogo" src="{% static 'app/img/logo.PNG' %}"
                style="padding-left:50px; width: 180px; height: 15;"> </a>
    </div>
    
</header>

{% load humanize %}
    <div class="galeria">
        <div class="lineados"></div>
        <h3> Conoce nuestros nuevos productos</h3>
        <div class="linea"></div>
        {% for p in productos %}
        <div class="contenedor-imagenes">
            
            <div class="imagen">
                {% if p.nuevo %}
                <img src="{{ p.nuevo.url }}" alt="">
                {% endif %}
                <div class="overlay">

                    <h4> {{p.nombre | title}}</h4>
                    <h4> ${{p.precioA | intcomma}} </h4>
                    <h4> ${{p.precioD | intcomma}} </h4>
                </div>
            </div>
            
        </div>
        {% endfor %}
    </div>
</body>
</html>