<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{% static 'app/js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'app/js/scripts.js' %}"></script>
    <link rel="stylesheet" href="{% static 'app/css/flexboxgrid.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/estilo.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <script src="{% static 'app/js/carrusel.js' %}"></script>
    <script src="{% static 'app/js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'app/js/owl.carousel.js' %}"></script>

   <style>
        @import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
    </style>
    <title>Furniture Future</title>
    <script>
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel({
                loop: true,
                margin: 10,
                autoplay: true,
                autoplayTimeout: 3000,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 5
                    }
                }
            });
            $(".play").on("click", function () {
                owl.trigger("play.owl.autoplay", [1000]);
            });
            $(".stop").on("click", function () {
                owl.trigger("stop.owl.autoplay");
            });
        });
    </script>
</head>

<body>
    <div id="head">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="box" id="logo">
                    <a href="{% url 'index' %}"> <img id="imglogo" src="{% static 'app/img/logo.PNG' %}"
                            style="padding-left:50px; width: 180px; height: 15;"> </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="box" id="head-first">
                    <input type="text" id="search-field" class="autosuggest-selectable-item no-outline"
                        placeholder="Explorar" name="text" value="" autocomplete="off" aria-label="Buscar"
                        role="textbox">
                </div>
                
            </div>
            
           
        
           {% if user.is_authenticated %}
           
            <li type="button" style="margin-left:20px">
                <a href=" {% url 'logout' %}">cerrar sesión</a>
            </li>
            
            <li type="button" style="margin-left:20px" >
                <a href="#">@{{ user.username }}</a>
            </li>
            {% for auth in backends.associated %}

                {% if auth.provider == 'facebook' %}
                    <img src="{{ auth.extra_data.picture.data.url }}" alt="" width="50" height="50">
                {% endif %}
        
            {% endfor %}
           {% else %}
            <li type="button" style="margin-left:20px">
                <a href="{% url 'login' %}">iniciar sesión</a>
            </li>
            <br>
            <li type="button" style="margin-left:20px">
                <a href="{% url 'registro' %}">registrate</a>
            </li>
            <br>
            <li type="button"style="margin-left:20px">
                <a href=" {% url 'agregar_producto' %}"> agregar producto</a>                       
            </li>
            <br>
            <li type="button"style="margin-left:20px">
                <a href=" {% url 'listar_producto' %}">listar producto</a>
            </li>
           {% endif %}

        </div>
    </div>
    <div id="slide">
        <ul> 
            <li><img src="{% static 'app/img/foto1.jpg' style= width: 80%; height: 500px; %}"></li>
            <li><img src="{% static 'app/img/foto2.jpg' style= width: 80%; height: 500px; %}"></li>
            <li><img src="{% static 'app/img/foto3.jpg' style= width: 80%; height: 500px; %}"></li>
            <li><img src="{% static 'app/img/foto4.jpg' style= width: 80%; height: 500px; %}"></li>
            <li><img src="{% static 'app/img/foto5.jpg' style= width: 80%; height: 500px; %}"></li>
        </ul>
    </div>

    <div id="letra">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box" id="fit">
                    <h1>Busca tu mueble ideal entre los miles de modelos que tenemos</h1>
                </div>
            </div>
        </div>
    </div>
   
    
</body>
</html>