*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;

}
.galeria{
    font-family :'Manjari', sans-serif;
}
.galeria h3{
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 300;
    color: #61719a;
}
.linea{
    border-top: 5px solid #dd7979;
    margin-bottom: 40px;
}
.lineados{
    border-top: 5px solid #dd7979;
    margin-bottom: 40px;
}
.contenedor-imagenes{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;

}
.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height: 250px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
}
.imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 118, 192, 0.781);
    width: 100%;
    height: 0;
    transition: .1s ease;
    overflow: hidden;
}
.overlay h4{
    color: #fff;
    font-weight: 300;
    font-size:30px;
    position: relative;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.imagen:hover .overlay{
    height: 100%;
    cursor: pointer;
}

#letra{
    color: #dc7364;
    font-family:  'Dancing Script', cursive;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
    
}
#slide{
    text-align: center;
    position: relative;
    margin: 0;
    width: 100%;
    overflow: hidden; 
}
#head{
    width: 100%;
    background-color: #ffffff;
    color: #ffffff;
    font-family :'Manjari', sans-serif;
}
#head-first{
    padding: 20px;
}
#head-second{
    padding-right: 50px;
}
#logo{
    padding-top: 13px;
    padding-left: 10px;    
   }
   #search-field{
    display:inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    height:33px;
    position: static;
    width:300px;
    margin-right:50px;
    padding:0 5px 0 32px;
    border:1px solid #ccc;
    color:#000;
    font-size:14px;
    line-height:20px;
    outline:0;
    border-radius:3px;
    background-color:hsla(0,0%,100%,.8);
    -webkit-transition:background-color .15s ease-in-out;
    transition:background-color .15s ease-in-out
}
.button {
    background-color: #21619a;
    color: white;
    height: 35px;
    margin-top: 20px;
    width: 0px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 150px;
    cursor: pointer;
    border-radius: 3px;
}
@media screen and (max-width:1000px){
    .contenedor-imagenes{
        width: 95%;
    }
    
}
@media screen and (max-width:700px){
    .contenedor-imagenes{
        width: 90%;
    }
    .contenedor-imagenes .imagen{
        width: 48%;
    }
}
@media screen and (max-width:450px){
    h1{
        font-size: 22px;
    }
    .contenedor-imagenes{
        width: 98%;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }
}